<section class="mt-4">
    <footer class="sticky bottom-0 left-0 right-0 bg-red-400">
        <div class="p-12 bg-light flex flex-col">
            <div class="footer-text w-full mb-2">
                <h3 class="text-2xl mb-2">Get The FreshCart App</h3>
                <p class="font-light text-gray-500">We Well Send You a Link</p>
            </div>
            <div class="footer-form w-full mb-2 flex gap-4">
                <input type="email" class="basis-3/4 bg-white rounded-lg px-4 py-2 focus:outline-2
                 focus:outline-green-800/50 focus:shadow-lg/30 focus:shadow-green-300" placeholder="Email...">
                <button class="basis-1/4 btn-main">share app link</button>
            </div>
            <hr class="">
            <div class="footer-signature w-full  flex justify-center mt-4">
                <p>© 2026 Mustafa Rashad @<span class="text-gray-500"> All Rights Reserved</span></p>
            </div>
        </div>

    </footer>


</section>