<section>
    <div class="md:container mx-auto my-4">
        <form action="" class="w-full flex justify-center bg-info" [formGroup]="forgetForm"
            (ngSubmit)="resetPassword()">
            <div class=" md:w-1/2 w-3/4 flex flex-col p-8 shadow-lg shadow-gray-300">
                <h3 class="font-bold py-5 ">Reset password</h3>
                <div class="">
                    <label for="email" class="font-bold block my-2">Email</label>
                    <input formControlName="email" type="email" id="email"
                        class="border-solid border-2 border-gray-400 
                        rounded-lg block py-2 px-4 w-full focus:outline-0 focus:border-0 focus:ring-2 focus:ring-gray-500">
                    @if((email?.touched || email?.value.length > 0 ) && email?.errors){
                    <div class="flex items-start sm:items-center p-4 mb-2 text-sm text-dark rounded-lg bg-red-200 my-2"
                        role="alert">
                        @if(email?.getError('required')){

                        <p role="alert"><i class="fa-solid fa-circle-exclamation text-red-700 me-1"></i></p>
                        <p><span class="font-medium me-1">Info alert!</span> input is required</p>
                        }
                        @if(email?.getError('email')){
                        <p role="alert"><i class="fa-solid fa-circle-exclamation text-red-700 me-1"></i></p>
                        <p><span class="font-medium me-1">Info alert!</span> enter correct email</p>
                        }
                    </div>
                    }
                </div>


                <button type="submit" class="w-[25%] cursor-pointer btn-main my-3" [disabled]="">Reset</button>
                @if(succesMsg.length > 0 && succesMsg!=""){
                 <div class="flex items-start sm:items-center p-4 mb-2 text-sm text-dark rounded-lg bg-green-200 my-2"
                        role="alert">
                        <p role="alert"><i class="fa-solid fa-circle-exclamation text-green-700 me-1"></i></p>
                        <p>{{succesMsg}}</p>
                        
                    </div>
                }
                @else if(failurMsg.length > 0 && failurMsg!=""){
                 <div class="flex items-start sm:items-center p-4 mb-2 text-sm text-dark rounded-lg bg-red-200 my-2"
                        role="alert">
                        <p role="alert"><i class="fa-solid fa-circle-exclamation text-red-700 me-1"></i></p>
                        <p>{{failurMsg}}</p>
                        
                    </div>
                }

            </div>
        </form>
    </div>

</section>